body {
  font-family: 'Roboto', sans-serif;

    background-image: url(/Assets/PortFondoapiClima.jpg);
    background-size: cover; /* Esto hace que la imagen cubra todo el área del fondo */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */

    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo predeterminado */
    transition: background-image 0.5s ease-in-out; /* Transición suave */
    overflow: auto;
    overflow: hidden; 
  }

  body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(182, 203, 206);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 60px;
  }
  
  h1 {
    color: #333333;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  